@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

@mixin kv-text($theme: $input-primary) {

  .kv-text {
    textarea {
      @extend %input;
      font-size: font-size();
      line-height: 20px;
      min-height: 120px;
      max-height: 200px;
      overflow-y: visible;
    }
  }

  /* region Size */

  .kv-text-sm {
    textarea {
      font-size: font-size($SMALL_FONT_SIZE);
      line-height: 18px;
    }
  }

  .kv-text-lg {
    textarea {
      font-size: font-size($LARGE_FONT_SIZE);
      line-height: 22px;
    }
  }

  /* endregion */

  /* region Theme */

  .kv-text-theme-light {
    textarea {
      color: map_get($theme, 'clr-default');
      border-bottom: 1px solid map_get($theme, 'clr-plh-default');
      text-transform: capitalize;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $clr-green;
        border-radius: 3px;
      }

      &::placeholder {
        color: map_get($theme, 'clr-plh-default');
      }

      &:focus {
        border-bottom: 1px solid map_get($theme, 'clr-focus-hover');

        &::placeholder {
          color: map_get($theme, 'clr-focus-hover');
        }
      }
    }
  }

  .kv-text-theme-dark {
    textarea {
      color: map_get($theme, 'clr-default');
      border-bottom: 1px solid map_get($theme, 'clr-plh-default');
      text-transform: capitalize;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $clr-green;
        border-radius: 3px;
      }

      &::placeholder {
        color: map_get($theme, 'clr-plh-default');
      }

      &:focus {
        border-bottom: 1px solid map_get($theme, 'clr-focus-hover');

        &::placeholder {
          color: map_get($theme, 'clr-focus-hover');
        }
      }
    }
  }

  /* endregion */
}

@include kv-text;
