@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.work {
  position: relative;
  width: 230px;
  height: 230px;
  user-select: none;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__back {
    display: none;
    position: absolute;
    background: $clr-grey;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  &__content {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  &__name {
    @extend %link_redux;
    text-transform: uppercase;
    padding: 0 5px;
    font-weight: bold;
    font-size: font-size($LARGE_FONT_SIZE);
  }

  &__public {
    padding: 0 5px 5px;
    color: $clr-text-green;
    font-size: font-size();
  }

  &:hover {
    .work__content {
      display: flex;
    }

    .work__back {
      display: flex;
    }
  }
}
