@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.article-related {
  display: flex;
  flex-direction: column;
  width: calc(25% - 10px);
  background: $clr-grey;
  border-radius: 3px;


  &__img {
    height: 160px;
  }

  &__title {
    color: $clr-text-white;
    font-size: font-size($X_LARGE_FONT_SIZE);
  }

  &__block {
    color: $clr-text-green;
    text-transform: uppercase;
    font-size: font-size($SMALL_FONT_SIZE);
  }

  &__desc {
    letter-spacing: 0.1em;
    text: {
      align: left;
    }
    color: $clr-text-white;
    font-size: font-size($SMALL_FONT_SIZE);
  }
}
