@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.pagination {
  display: flex;

  .kv-link {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
