@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

@mixin kv-btn($theme: $btn-primary) {

  .kv-btn {
    display: flex;
    button {
      @extend %btn;
      font: {
        size: font-size();
        weight: normal;
      }
      line: {
        height: 20px
      }
    }
  }

  /* region Size */

  .kv-btn-sm {
    button {
      font-size: font-size($SMALL_FONT_SIZE);
      line-height: 18px;
    }
  }

  .kv-btn-lg {
    button {
      font-size: font-size($LARGE_FONT_SIZE);
      line-height: 22px;
    }
  }

  /* endregion */

  .kv-btn_center {
    justify-content: center;
  }

  .kv-btn_right {
    justify-content: flex-end;
  }

  /* region Position */



  /* endregion */

  /* region Theme */

  .kv-btn-theme-light {
    button {
      text: {
        transform: capitalize;
      }
      color: map_get($theme, 'clr-default');
      background: map_get($theme, 'back-default');
      border-radius: map_get($theme, 'radius');
      border: 1px solid $clr-green;

      &:active {
        background: map_get($theme, 'back-active');
      }

      &:hover {
        background: map_get($theme, 'back-hover');
        color: map_get($theme, 'clr-hover');
        text-decoration: none;
      }
    }
  }

  .kv-btn-theme-dark {
    button {
      text: {
        transform: capitalize;
      }
      color: $clr-text-green;
      border: 1px solid $clr-green;

      &:active {
        background: map_get($theme, 'back-active');
      }

      &:hover {
        background: map_get($theme, 'back-hover');
        color: map_get($theme, 'clr-hover');
      }
    }
  }

  /* endregion */
}

@include kv-btn;

