@import "../../sass/variables";
@import "../../sass/placeholders";

$info-height: 768px;

.home-info {
  display: flex;
  margin-top: -55px;
  width: 100%;
  height: $info-height;
  padding: 0;

  &__video {
    position: fixed;
    z-index: -9999;
    top: -5px;
    left: 0;
    width: 100%;
    height: calc(1380px / (16 / 9));
  }

  &__back {
    position: absolute;
    background: $gr-default;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: $info-height;
  }

  &__content {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 3;
    height: $info-height;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    h1 {
      font-size: 80px;
      margin-left: -6px;
      color: $clr-text-white;
    }

    h2 {
      font-size: 56px;
      margin-left: -4px;
      color: $clr-text-white;
    }

    h3 {
      color: $clr-text-white;
    }
  }
}