@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

@mixin kv-link($theme: $link-primary) {

  .kv-link {
    
    @extend %link;
    span {
      display: flex;
      font: {
        size: font-size();
        weight: normal;
      }
      line-height: 20px;
    }
  }

  /* region Size */

  .kv-link-sm {
    span {
      font-size: font-size($SMALL_FONT_SIZE);
      line-height: 18px;
    }
  }

  .kv-link-lg {
    span {
      font-size: font-size($LARGE_FONT_SIZE);
      line-height: 22px;
    }
  }

  .kv-link-xlg {
    span {
      font-size: font-size($X_LARGE_FONT_SIZE);
      line-height: 24px;
    }
  }

  /* endregion */

  /* region Theme */

  .kv-link-theme-light {
    span {
      color: $clr-text-white;
    }
    &:hover {
      span {
        color: $clr-text-green;
        text-decoration: none;
      }
    }
  }

  .kv-link-theme-dark {
  }

  .kv-link-theme-btn-light {
    background: $gr-default;
    border-radius: map_get($theme, 'radius');
    border: 1px solid $clr-text-green;

    span {
      padding: 5px 10px;
      color: map_get($theme, 'clr-default');
    }

    &:hover {
      span {
        color: $clr-grey;
        text-decoration: none;
      }
    }
  }

  .kv-link-theme-btn-dark {
    background: $clr-grey;
    border-radius: map_get($theme, 'radius');
    border: 1px solid $clr-grey;

    span {
      padding: 10px 15px;
      color: map_get($theme, 'clr-default');
    }

    &:hover {
      span {
        color: map_get($theme, 'clr-hover');
        text-decoration: none;
      }
    }
  }

  /* endregion */

}

@include kv-link;