@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.skill {
  position: relative;

  &__header {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: $clr-text-green;
      line-height: 24px;
      font-size: font-size($LARGE_FONT_SIZE)
    }
    span {
      color: $clr-text-white;
    }
  }

  &__content {
    text-align: left;
    p {
      font-size: font-size();
      color: $clr-text-white;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .skill__header {
      text-align: left;
    }

    .skill__content {
      text-align: right;
      font-size: font-size();
    }
  }
}