@import "variables";

%btn {
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;
  border: 0;
  background: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

%link {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

%link_redux {
  @extend %link;
  color: $clr-text-white;
  &:hover {
    color: $clr-text-green;
    text-decoration: none;
  }
}

%input {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: 0;
  background: none;
}

%img {
  display: block;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}