/** Flow css

    ****** SMALL *******
    font-size: 12px;

    ****** NORMAL *******
    font-size: 14px;

    ****** LARGE *******
    font-size: 16px;

 */

$NORMAL_FONT_SIZE: 'md';
$SMALL_FONT_SIZE: 'sm';
$XS_FONT_SIZE: 'xs';
$LARGE_FONT_SIZE: 'lg';
$X_LARGE_FONT_SIZE: 'xlg';

// Инициализация шрифта на основании размера компонента
@function font-size($size: $NORMAL_FONT_SIZE) {
  $result: 14px;

  @if ($size == $SMALL_FONT_SIZE) {
    $result: 12px;
  } @else if ($size == $XS_FONT_SIZE) {
    $result: 10px;
  } @else if ($size == $LARGE_FONT_SIZE) {
    $result: 18px;
  } @else if ($size == $X_LARGE_FONT_SIZE) {
    $result: 20px;
  }

  @return $result;
}

// Получение высоты для изображения
@function image-height($width: 100px) {
  @return $width / 3 * 2;
}