/* VARIABLES */

/* region Colors */
$clr-green: #3beb9e;
$clr-grey: #313741;
$clr-light_grey: #9a9a9a;
$clr-white: #ffffff;
$clr-black: #1b1d1e;
$clr-red: #ec383f;
$clr-blue: #33bddb;
$clr-orange: #ffa600;
$clr-light_blue: #00d7bb;
$clr-back-grey: #23262C;
$gr-default: linear-gradient(to right, $clr-green, $clr-light_blue);
/* endregion */

/* region Font */
$font-primary: 'Roboto', sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;
/* endregion */

/* region Text */
$clr-text-green: $clr-green;
$clr-text-light_grey: $clr-light_grey;
$clr-text-white: $clr-white;
$size-sm: 12px;
$size-xs: 10px;
$size-md: 14px;
$size-lg: 16px;
$size-xlg: 18px;
/* endregion */

/* region Link */
$link-primary: (
        clr-default: $clr-white,
        clr-hover: $clr-green,
        radius: 3px
);
$link-secondary: (
        clr-default: $clr-blue,
        clr-hover: $clr-orange,
        radius: 3px
);
/* endregion */

/* region Button */
$btn-primary: (
        clr-default: $clr-white,
        back-default: $gr-default,
        back-hover: $clr-green,
        clr-hover: $clr-grey,
        back-active: $clr-blue,
        radius: 3px
);
$btn-secondary: (
        clr-default:$clr-blue,
        back-default: $clr-blue,
        back-hover: $clr-orange,
        clr-hover: $clr-grey,
        back-active: $clr-blue,
        radius: 3px
);
/* endregion */

/* region Input */
$input-primary: (
  clr-default: $clr-white,
  clr-plh-default: $clr-light_grey,
  clr-focus-hover: $clr-green
);
/* endregion */