@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.data-not-found {
  span {
    cursor: default;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: font-size();
  }
}

.data-not-found-theme-light {
  span {
    color: $clr-text-white;
    border: 1px solid $clr-grey;
    border-radius: 3px;
  }
}

.data-not-found-theme-dark {
  span {
    color: $clr-text-white;
    border: 1px solid $clr-light_grey;
    border-radius: 3px;
  }
}