@import "../../../sass/variables";
@import "../../../sass/placeholders";

@mixin input-btn($theme-input: $input-primary, $theme-btn: $btn-primary) {

  .input-btn {
    display: flex;
    flex-wrap: nowrap;

    &__input {
      flex-grow: 2;
    }

    &__btn {
      flex-grow: 1;
      button {
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

@include input-btn;