@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

@mixin kv-input($theme: $input-primary) {

  .kv-input {
    input {
      @extend %input;
      font: {
        size: font-size();
        weight: normal;
      }
      line-height: 20px;
    }
  }

  /* region Size */

  .kv-input-sm {
    input {
      font: {
        size: font-size($SMALL_FONT_SIZE);
        weight: normal;
      }
      line-height: 18px;
    }
  }

  .kv-input-lg {
    input {
      font: {
        size: font-size($LARGE_FONT_SIZE);
        weight: normal;
      }
      line-height: 22px;
    }
  }

  /* endregion */

  /* region Theme */

  .kv-input-theme-light {
    input {
      padding: {
        left: 10px;
        right: 10px;
      }
      color: map_get($theme, 'clr-default');
      text-transform: capitalize;
      border: 1px solid $clr-grey;

      &::placeholder {
        color: map_get($theme, 'clr-plh-default');
      }

      &:focus {
        &::placeholder {
          color: map_get($theme, 'clr-focus-hover');
        }
      }
    }
  }

  .kv-input-theme-dark {
    input {
      color: map_get($theme, 'clr-default');
      border-bottom: 1px solid map_get($theme, 'clr-plh-default');
      text-transform: capitalize;

      &::placeholder {
        color: map_get($theme, 'clr-plh-default');
        text-transform: uppercase;
      }

      &:focus {
        &::placeholder {
          color: map_get($theme, 'clr-focus-hover');
        }
        border-bottom: 1px solid map_get($theme, 'clr-focus-hover');
      }
    }
  }

  /* endregion */
}

@include kv-input;
