@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.my-info {

  &__about-me {
    p {
      font-size: font-size($LARGE_FONT_SIZE);
      color: $clr-text-white;
    }
  }

  &__line {
    display: flex;
    color: $clr-text-white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__email {
    span {
      font-size: font-size($LARGE_FONT_SIZE);
    }
  }
}