@import "../../sass/variables";
@import "../../sass/utils";

.not-found {
  text-align: center;
  margin-top: 255px;
  margin-bottom: 100px;

  h1 {
    color: $clr-text-white;
    font-size: 60px;
  }

  h4 {
    color: $clr-text-green;
    margin-bottom: 30px;
  }
}