@import "../../sass/variables";
@import "../../sass/utils";
@import "../../sass/placeholders";

.categories-menu {
  user-select: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .category {
    margin-right: 30px;
    position: relative;

    &:after {
      top: -2px;
      right: -18px;
      content: '/';
      position: absolute;
      color: $clr-text-green;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: '';
      }
    }
  }
}
