@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.work-detail {
  display: flex;
  user-select: none;

  &__img {
    height: 400px;
  }

  &__site {
  }

  &__desc {
    color: $clr-text-light_grey;
    line-height: 24px;
    font-size: font-size();
  }

  &__client,
  &__skills {
    display: flex;
    color: $clr-text-white;
    font-size: font-size();
  }

  &__toolbar {
    display: flex;
  }
}