@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.about-page {
  display: flex;
  flex-direction: column;

  &__left {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
  }
}