@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.kv-caption {
  display: flex;
  text-transform: uppercase;
  user-select: none;
  cursor: default;

  &_center {
    justify-content: center;
  }

  &_right {
    justify-content: flex-end;
  }

  &-theme-light {
    background: $gr-default;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
