@import "../../sass/variables";
@import "../../sass/placeholders";

.kv-btn-up {
  position: fixed;
  bottom: 30px;
  right: 30px;

  button {
    cursor: pointer;
    outline: none;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    justify-content: center;
    background: $gr-default;
    font: {
      size: 30px;
      weight: bold;
    }

    .fa {
      padding-bottom: 2px;
    }
  }
}