@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

@mixin comment-wrapper() {

  .comment-wrapper {
    user-select: none;
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .face-wrapper {
      margin-right: 15px;

      .kv-img {
        width: 80px;
        height: 80px;
        border: 0;
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }
    }

    .block-wrapper {
      margin-bottom: 20px;
      width: 100%;
    }

    .kv-caption {
      padding: 0!important;
      text-transform: capitalize;
      border-bottom: 1px solid $clr-text-green;
      h4 {
        font-size: font-size($LARGE_FONT_SIZE);
        padding-bottom: 5px;
      }
    }

    .block-content {
      margin-top: 10px;
      font-size: font-size();
      color: $clr-text-white;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

@include comment-wrapper;
