@import "../../sass/variables";
@import "../../sass/utils";
@import "../../components/common/link/styles";

@mixin menu($size: $NORMAL_FONT_SIZE, $text_color:$clr-black) {

  .menu-wrapper-recursive {
    background: $gr-default;
    box-shadow: 0 0 0.5em $clr-light_grey;
  }

  .menu-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    user-select: none;

    .menu-header {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      z-index: 10;

      .menu-mobile {

        .button-toggle {
          padding: 2px 0;
          width: 26px;
          height: 24px;
          cursor: pointer;

          .space {
            padding: 1px;
            margin-bottom: 7px;
            background: $clr-white;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .cross {
           position: relative;
          .space {
            margin: 0;
            top: 11px;
            position: absolute;
            background: $clr-white;
            transition: transform 0.3s;

            &:first-child {
              width: 26px;
              transform: rotate(45deg);
            }

            &:nth-child(2n) {
              background: none;
            }

            &:last-child {
              width: 26px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .menu-items {

      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 9;
      justify-content: center;
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear, opacity 0.6s linear;

      .menu-item {
        text-align: center;
        padding: 5px;

        a {
          color: $clr-text-white;
          margin: 0;
          padding: 0;
          text-decoration: none;
          &:hover {
            color: $clr-text-green;
          }
        }
      }
    }

    .menu-logo {
      .social-buttons {
        .kv-link {
          margin: {
            right: 10px;
          };
        }
      }
    }


    .blocks {
      .right-back,
      .left-back {
        z-index: 2;
        opacity: 0.8;
        width: 50%;
        height: 100%;
        background: $clr-black;
        position: fixed;
        transition: width 0.3s;
      }

      .right-back {
        right: 0;
        z-index: 5;
      }

      .left-back {
        left: 0;
        z-index: 4;
      }
    }
  }
}

@include menu();
