@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.mouse-button {
  cursor: pointer;
  position: relative;
  width: 21px;
  height: 36px;
  border: 1px solid $clr-green;
  border-radius: 15px;

  &:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 4px;
    left: 8px;
    top: 7px;
    background: $clr-white;
    border-radius: 50%;
    transition: top 0.5s ease-in-out;
  }

  &:hover {

    &:before {
      top: 23px;
      transition: top 0.5s ease-in-out;
    }
  }
}
