@import "../../sass/variables";
@import "../../sass/placeholders";

.articles {
  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .article {
      width: 100%;
      display: flex;
      flex-direction: row;

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}