@import "../../sass/variables";
@import "../../sass/placeholders";

.home-page {
  padding: 0;

  &__back,
  &__back-reverse {
    z-index: 3;
    padding: 15px 0;
    width: 100%;
  }

  &__back-reverse {
    background: $clr-back-grey;
  }

  &__back {
    background: $clr-grey;
  }
}


