@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.article {
  background: $clr-grey;

  &__img {
    max-width: 360px;
    min-height: 245px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__comment {
    display: block;
    color: $clr-white;
    font-size: font-size();
  }

  &__desc {
    color: $clr-light_grey;
    font-size: font-size();
  }

  &__btn {
    button {
      display: block;
      width: auto;
    }
  }
}
