@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.article-single {
  display: flex;
  flex-direction: column;

  &__title {
    color: $clr-text-white;
  }

  &__block {
    font-size: font-size($LARGE_FONT_SIZE);
    color: $clr-text-green;
    text-transform: uppercase;
  }

  &__img {
    float: left;
    width: 350px;
    height: 260px;
  }

  &__desc {
    display: block;
    color: $clr-light_grey;
    font-size: font-size();
    line-height: 24px;
    margin: 0;
  }

  &__shares {
    display: flex;
    color: $clr-text-green;
    font-size: font-size($LARGE_FONT_SIZE);
  }

  .shares__links {
    display: flex;
  }
}
