@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.works {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
