@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.header-caption {
  cursor: default;
  position: relative;
  width: 100%;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 0.1em);
    background: $clr-grey;
    opacity: 0.7;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../test.jpg") no-repeat;
    background-size: cover;
    filter: blur(1px);
  }

  &__name {
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__desc {
    max-width: 50%;
    font-size: font-size($LARGE_FONT_SIZE);
    display: flex;
    color: $clr-text-white;
  }
}
