@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.social-buttons {
  display: flex;
  justify-content: space-between;

  &__link {
    width: 40px;
    height: 40px;
    span {
      font-size: font-size() * 1.5;
    }
  }
}

.social-buttons_sm {
  .social-buttons__link {
    width: 26px;
    height: 26px;
    span {
      i {
        font-size: font-size($X_LARGE_FONT_SIZE);
      }
    }
  }
}

.social-buttons_lg {
  .social-buttons__link {
    width: 48px;
    height: 48px;
    span {
      i {
        font-size: font-size($X_LARGE_FONT_SIZE) * 1.5;
      }
    }
  }
}

.social-buttons-theme-light {
  .kv-link {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $clr-text-white;
    }
  }
}

.social-buttons-theme-dark {

  .kv-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    span {
      color: $clr-text-green;
    }

    &:hover {
      span {
        color: $clr-grey;
      }
      background: $gr-default;
    }
  }
}

