@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.educations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .education {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
