@charset "UTF-8";
@import "sass/variables";
@import "sass/utils";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

aside {
  padding: {
    left: 15px;
    right: 15px;
  };
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 0.8em;
}

body {
  overflow-y: scroll;
  background: $clr-back-grey;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $clr-light_blue;
    border-radius: 3px;
  }
}

p {
  padding: 0;
  margin: 0;
}

.fixed {
  position: fixed !important;
  width: 100%;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
}

.active {
  span {
    color: $clr-text-green !important;
  }
  .kv-link {
    span {
      color: $clr-text-green !important;
    }
  }
}

$pd_xs: 5px;
$pd_sm: 10px;
$pd: 15px;
$pd_lg: 30px;
$pd_xlg: 40px;

/* region Padding */

.padding {
  padding: $pd 0;

  &-xs {padding: $pd_xs 0}
  &-sm {padding: $pd_sm 0}
  &-lg {padding: $pd_lg 0}
  &-xlg {padding: $pd_xlg 0}
}

.pd {
 
  &-bm {
    padding-bottom: $pd;
    
    &_xs {padding-bottom: $pd_xs}
    &_sm {padding-bottom: $pd_sm}
    &_lg {padding-bottom: $pd_lg}
    &_xlg {padding-bottom: $pd_xlg}
  }
  
  &-top {
    padding-top: $pd;
    
    &_xs {padding-top: $pd_xs}
    &_sm {padding-top: $pd_sm}
    &_lg {padding-top: $pd_lg}
    &_xlg {padding-top: $pd_xlg}
  }
  
  &-left {
    padding-left: $pd;

    &_xs {padding-left: $pd_xs}
    &_sm {padding-left: $pd_sm}
    &_lg {padding-left: $pd_lg}
    &_xlg {padding-left: $pd_xlg}
  }
  
  &-right { 
    padding-right: $pd;

    &_xs {padding-right: $pd_xs}
    &_sm {padding-right: $pd_sm}
    &_lg {padding-right: $pd_lg}
    &_xlg {padding-right: $pd_xlg}
  }
}

/* endregion */

/* region Margin */

.margin {
  margin: $pd 0;

  &-xs {margin: $pd_xs 0}
  &-sm {margin: $pd_sm 0}
  &-lg {margin: $pd_lg 0}
  &-xlg {margin: $pd_xlg 0}
}

.mg {

  &-bm {
    margin-bottom: $pd;

    &_xs {margin-bottom: $pd_xs}
    &_sm {margin-bottom: $pd_sm}
    &_lg {margin-bottom: $pd_lg}
    &_xlg {margin-bottom: $pd_xlg}
  }

  &-top {
    margin-top: $pd;

    &_xs {margin-top: $pd_xs}
    &_sm {margin-top: $pd_sm}
    &_lg {margin-top: $pd_lg}
    &_xlg {margin-top: $pd_xlg}
  }

  &-left {
    margin-left: $pd;

    &_xs {margin-left: $pd_xs}
    &_sm {margin-left: $pd_sm}
    &_lg {margin-left: $pd_lg}
    &_xlg {margin-left: $pd_xlg}
  }

  &-right {
    margin-right: $pd;

    &_xs {margin-right: $pd_xs}
    &_sm {margin-right: $pd_sm}
    &_lg {margin-right: $pd_lg}
    &_xlg {margin-right: $pd_xlg}
  }
}

/* endregion */

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: $clr-text-green;
  background: $clr-grey;
  font-size: 40px;
  width: 70px;
  height: 70px;
  border: 4px solid $clr-text-green;
  border-radius: 50%;
  margin: 0 auto 37px;
}

.item {
  left: calc(50% - 15px);
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .line {
    position: absolute;
    height: 100%;
    width: 4px;
    bottom: calc(50% + 15px);
    z-index: 1;
    background: $clr-text-green;
  }

  .point {
    z-index: 2;
    position: relative;
    width: 28px;
    height: 28px;
    border: 3px solid $clr-text-green;
    border-radius: 50%;
    background: $clr-grey;

    &::after {
      position: absolute;
      top: 5px;
      border-radius: 50%;
      left: 5px;
      content: '';
      padding: 6px;
      background: $clr-text-green;
    }
  }


}