@import "../../../sass/variables";
@import "../../../sass/placeholders";
@import "../../../sass/utils";

.kv-toolbar {
  display: flex;
}

.kv-toolbar_center {
  justify-content: center;
}

.kv-toolbar_right {
  justify-content: flex-end;
}