@import "../../sass/variables";
@import "../../sass/placeholders";

.block {
}

.block-theme-br-bm {
  .kv-caption {
    border-bottom: 2px solid $clr-text-green;
    text-transform: capitalize;
  }
}
