@import "../../sass/variables";
@import "../../sass/placeholders";
@import "../../sass/utils";

.footer {
  background: $clr-back-grey;

  .social-buttons {
    border-bottom: 1px solid $clr-grey;
    justify-content: center;

    &__link {
      margin: {
        left: 10px;
        right: 10px;
      }
    }
  }

  &__content {
    display: flex;
    user-select: none;
    justify-content: center;
    font-size: font-size();
    color: $clr-text-green;
    text-transform: uppercase;
  }
}
